@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@400;700&family=Noto+Sans:wght@400;700&family=Prompt:wght@400;700&family=Teko:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.5rem;
    margin-top: 50px;
    color: white;
    text-shadow: 3px 3px 10px blueviolet;
    user-select: none;
}

#genresInput {
    width: 250px;
    height: 20px;
    padding: 3px 10px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    font-weight: bold;
}

#submitBtn {
    font-family: "Teko", sans-serif;
    font-size: 1.5rem;
    padding: 5px 30px;
    border-radius: 25px;
    user-select: none;
    border: none;
    margin-top: 25px;
    margin-bottom: 50px; 
    cursor: pointer;
    transition: 1s background-color, 1s color;
    color: blueviolet
}

#submitBtn:hover {
    background-color: blueviolet;
    color: white;
    transition: 0.5s background-color, 0.5s color;
}

#submitBtn:active {
    background-color: rgb(91, 28, 150);
    color: rgb(147, 147, 147);
    transition: 0s background-color, 0s color;
}

#box {
    width: 60%;
    min-height: 300px;
    background-color: blueviolet;
    border-radius: 25px;
    box-shadow: 0 0 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 10px;
}

#box img {
    height: 350px;
    border-radius: 5px;
    user-select: none;
}

#textDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 90%;
    color: white;
}

#textDiv h2 {
    font-weight: bold;
    font-size: 2.75rem;
    margin-bottom: 20px;
    font-family: "Teko", sans-serif;
}

#textDiv h3 {
    font-family: "Mukta", sans-serif;
}